body {
    background: blue;
}

.panel {
    width:150px;
    background: #999999;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid gold;
    text-align: center;
}
.panel-head{
    background: #333333;
    padding: 15px;
}
 .panel-body{
     background: #ffffff;
 }